@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,100italic,300italic,400italic,700italic,900italic);

html, body {
	height: 100%;
    min-height: 100%;
	margin:-1px;
	padding: none;
	font-family: 'Lato', sans-serif;
}

.fb-like {
	position: fixed;
	display: block;
	top: 25px;
	right: 25px;
/* 	border: thin solid; */
/*     border-radius: 5px; */
}

.u_0_2 a {
	color:#FFD59B !important;
}

#wrapper {
	height: 100%;
    min-height: 100%;
    margin: 0px;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}



#right ul li a {
	height: 30px;
	display: table;
	font-weight: 100;
	font-size: 25px;
	color: #FFD59B;
}

#right ul li a:hover {
	height: 30px;
	display: table;
	font-weight: 100;
	font-size: 25px;
	color: #6A8BA7;
}

#right ul {
	list-style-type: none;
	padding-left:0;
}

#right {
	background: #2A4F6E;
	display: table;
	margin: 0px;
	padding: 0px;
	float:right;
	height: 100%;
    min-height: 100%;
	width:40%;
	border: 0px transparent;
}


#left {	
	display: table;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 100%;
    min-height: 100%;
	width: 60%;
	border: none;
}

#rightlogo {
	padding: 0px;
	margin: 50px 10px;
	height: 300px;
	width: 115px;
	background: url("../img/rightlogo.png") no-repeat; 
	background-size: cover;
 	display:table;
 	border: 0px transparent;
}

#leftlogo {
	padding: 0px;
	margin: 50px 10px;
	height: 300px;
	width: 115px;
	background: url("../img/leftlogo.png") no-repeat; 
	background-size: cover;
 	display:table;
 	float:right;
 	border: 0px transparent;
}

#intro {
	display: table;
	position: absolute;
	top: 375px;
	left: 62%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align: left;
	line-height: 10px;
	color: #FFD59B;	
} 

h2 {
	
	font-weight: 400;
	font-size: 30px;
	line-height:10px;
	text-align: left;
	color: #6A8BA7;	
}

h3 {
	line-height:5px;
	font-weight: 400;
	font-size: 25px;
	font-style: italic;
	text-align: left;
	color: #FFD59B;	
}

@media only screen and (min-width: 768px) {
	#header {
		display:none;
	}
}

@media only screen and (max-width: 768px) {
	
	#rightlogo {
		padding: 0px;
		margin: 50px 10px;
		height: 210px;
		width: 80px;
		background: url("../img/rightlogo.png") no-repeat; 
		background-size: cover;
	 	display:table;
	 	border: 0px transparent;
	}

	#leftlogo {
		padding: 0px;
		margin: 50px 10px;
		height: 210px;
		width: 80px;
		background: url("../img/leftlogo.png") no-repeat; 
		background-size: cover;
	 	display:table;
	 	float:right;
	 	border: 0px transparent;
	}
	
	#right {
		background: #2A4F6E;
		display: table;
		margin: 0px;
		padding: 0px;
		float:right;
		height: 100%;
	    min-height: 100%;
		width:50%;
		border: 0px transparent;
	}

	#left {	
		display: table;
		margin: 0px;
		padding: 0px;
		float: left;
		height: 100%;
	    min-height: 100%;
		width: 50%;
		border: none;
	}
	
	#intro {
		visibility:hidden;
		display: table;
		position: fixed;
		top: 300px;
		left: 50%;
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		font-size: 18px;
		text-align: left;
		line-height:10px;
		color: #FFD59B;	
	} 
	
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height:10px;
		text-align: left;
		color: #6A8BA7;	
	}

	h3 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 15px;
		font-style: italic;
		line-height:5px;
		text-align: left;
		color: #FFD59B;	
	}
	
	iframe {
		position:static;
		left: 0px;
		top: 500px;
		display:table;
	}
	
	#right ul li a {
		height: 30px;
		display: table;
		font-weight: 400;
		font-size: 15px;
		color: #FFD59B;
	}
	
	#right ul li a:hover {
		height: 30px;
		display: table;
		font-weight: 400;
		font-size: 15px;
		color: #6A8BA7;
	}
	
	#right ul {
		list-style-type: none;
		padding-left:0;
	}
	
	
	#header {
		width:100%;
		background: #6b6b6b;
		height:25px;
		display:inline;
	}

	#header ul li {
		list-style-type: none;
		padding-left:0;
		display: inline;
	}
	
	#header ul li a {
		height: 20px;
		display: block;
		font-weight: none;
		font-size: 10px;
		color: #FFD59B;
	}
}

	
	


